@model IEnumerable<PiniT.Models.PiniTCustomer>

@{
    ViewBag.Title = "CustomersIndex";
}
    <style>
        body {
            background-image: url('../../Content/Images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
<h2 class="a text-center mx-auto mt-3 mb-3 text-light">All Customers</h2>

<table class="col-md-10 mx-auto text-center container bg-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    
    </tr>
    <br />

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td class="form-group mx-auto text-center btn-group">
        @Html.ActionLink("Edit", "EditCustomer", new { id = item.Id },new{ @class = "btn btn-warning" })
        @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.Id },new { @class = "btn btn-danger" })
    </td>
</tr>
    }
</table>

