@model PiniT.Models.AccountWallet

@{
    ViewBag.Title = "Index";
}

<h2 class="h2 mx-auto my-2">PiniT Wallet</h2>

<div>
    <h4 class="h4 mx-auto my-2">@Html.DisplayFor(model => model.User.UserName)'s Wallet!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p class="btn-group">
    @if (User.IsInRole("Customer"))
    {
        @Html.ActionLink("Add Credits", "Addcredits", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Back", "CustomerIndex", "Restaurants", null, new { @class = "btn btn-dark" })
    }
    else
    {
        @Html.ActionLink("Back", "ManagerIndex", "Restaurants", null, new { @class = "btn btn-dark" })

    }
</p>
