@model PiniT.ViewModels.CreateReservationsVM

@{
    ViewBag.Title = "Create";
}

<style>
    body {
        background-image: url('../../Content/Images/background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h2 class="m-0 mt-3 mb-3 text-center a text-white">@Model.Restaurant.CompanyName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6 col-8 col-sm-8 card shadow border border-dark p-0 mx-auto">
                <div class="card-header border-dark font-weight-bolder bg-secondary text-white text-center">
                    <p class="m-0">Reservation Details</p>
                </div>
                <div class="card-body bg-light border-dark text-center">

                    <p class="m-0">Table Size: <cite class="font-weight-light">@Model.Table.Size</cite></p>
                    <hr />

                    <p class="m-0">BookDate: <cite class="font-weight-light">  @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</cite></p>
                    <hr />
                    <p class="m-0">BookFee: <cite class="font-weight-light">  $10</cite></p>
                    <hr />
                    @Html.LabelFor(x => x.EstimatedTime)
                    <div class="slidecontainer">
                        <p id="estimated-time"></p>

                        @Html.EditorFor(x => x.EstimatedTime, new { htmlAttributes = new { type = "range", step = "5", @class = "form-control-range slider mx-auto", id = "estimatedTimeInput", min = "5", max = "90" } })
                    </div>
                    <hr />
                    @Html.LabelFor(x => x.Reservation.Comment, new { htmlAttributes = new { @class = "mx-auto" } })<br />
                    @Html.EditorFor(x => x.Reservation.Comment, new { htmlAttributes = new { @class = "m-0 p-0 form-control border border-secondary text-center font-weight-light mx-auto", rows = "5" } })

                </div>
            </div>
        </div>
        <hr />
        <label class="checkbox-inline col-md-12 text-center font-italic font-weight-bold text-white p-1 mb-2 mx-auto"><input type="checkbox" name="HasAcceptedTerms" value="true" required>  Are you Sure?</label>
        
            <div class="form-group text-center mx-auto">
                <input type="submit" value="Submit" class="btn btn-warning btn-group" />
                @Html.ActionLink("Back", "CustomerIndex", "Tables", new { id = Model.Restaurant.RestaurantId }, new { @class = "btn btn-dark" })
            </div>
       
    </div>
}

@section scripts {

    <script>
        window.onload = () => {
            let rangeDisplay = document.getElementById('estimated-time');
            let rangeInput = document.getElementById('estimatedTimeInput');

            rangeInput.oninput = () => {

                rangeDisplay.innerHTML = `${rangeInput.value} Minutes`;
            };
        };
    </script>
}