@model IEnumerable<PiniT.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2 class="a mx-auto text-center">My Reservations</h2>

@foreach (var reservation in Model.OrderBy(x=>x.BookDate))
{
    <div class="row">
        <div class="col-md-8 card shadow-lg p-0 mx-auto">
            <div class="card-header border-bottom border-dark text-center">
                @if (User.IsInRole("Customer"))
                {
                    foreach (var restaurant in ViewBag.Restaurants)
                    {
                        if (restaurant.RestaurantId == reservation.Table.RestaurantId)
                        {
                            <h4 class="m-0">@restaurant.CompanyName</h4>
                        }
                    }
                }
                @if (User.IsInRole("Manager"))
                {
                    <h4 class="m-0">@reservation.Customer.UserName</h4>
                }

            </div>
            <div class="card-body bg-light boder border-dark text-center">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <p class="m-0">BookDate: <br /><cite class="font-weight-light">@reservation.BookDate</cite></p>
                        <br>
                        <p class="m-0">BookFee: <cite class="font-weight-light">10$</cite></p>
                    </div>
                    <div class="col-sm-6 border-left text-center">
                        <p class="m-0 ">Comment:<br /> <cite class="font-weight-light">@reservation.Comment</cite></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-info col-2" })
</div>
