@model IEnumerable<PiniT.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationId })
        </td>
    </tr>
}

</table>
