@model PiniT.ViewModels.IndexRestaurantsVM

@{
    ViewBag.Title = "CustomerIndex";
}

    <style>
        body {
            /*background-image: url("/Content/Images/usreIndex.jpg");*/
            background-image: url("https://as2.ftcdn.net/jpg/02/56/04/19/500_F_256041907_eWiahJpwVZG5rjyrGX8w42l2K2ZVSXyx.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card-img-top{
            max-width:100%; 
            max-height:100%;
        }
    </style>
<br>

<h2 class="a  mx-auto text-center" style="color:rgba(250, 250, 250, 0.7);">Available Restaurants</h2>

<div class="row mt-3 mb-1">
    <div id="a" class="col-md-6 p-3 border rounded bg-light mx-auto">
        @using (Html.BeginForm("CustomerIndex", "Restaurants", FormMethod.Get, new { id = "search-form" }))
        {
            <div id="filters" class="row">
                <div class="col-6 px-1">
                    @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by Restaurant Name" } })
                </div>
                <div class="col-4 px-1">
                    @Html.DropDownListFor(x => x.Type, (SelectList)ViewBag.RestaurantTypes, "Type", new { @class = "form-control", id = "restType" })
                </div>
                <div class="col-2 px-1">
                    <button id="search" type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    @foreach (var restaurant in Model.Restaurants)
    {
        <div class="col-md-3 col-sm-6 col-12 card shadow p-0">
            <div class="card-header border-dark font-weight-bolder bg-secondary text-white text-center">
                <p class="m-0 font-italic font-weight-bolder">@restaurant.CompanyName</p>
            </div>

            <div class="card-body bg-light border-dark text-center">
                <div class="row">
                    @if (restaurant.Images.FirstOrDefault(x => x.isProfileImage) == null)
                    {
                        <img class="col card-img-top" src="https://comelite-arch.com/wp-content/uploads/2018/04/How-to-Create-a-Successful-Fine-Dining-Restaurant-0-256x256.jpg" alt="restaurant1">
                    }
                    else
                    {
                        <img class="col card-img-top" src="@Url.Content(restaurant.Images.FirstOrDefault(x=>x.isProfileImage).ImagePath)" alt="restaurant1">

                    }
                </div>
                <hr class="m-1" />
                <p class="m-0 font-italic">
                    Restaurant Type:
                    @foreach (var item in restaurant.Type)
                    {
                        <cite class="font-weight-light">@item.Name</cite>
                    }
                </p>
                <p class="m-0 font-italic">Total Free Tables: <cite class="font-weight-light">@restaurant.Tables.Count(x => x.IsBooked == false)</cite></p>

            </div>
            <div class="card-footer border-dark bg-light text-center">
                <div class="row btn-group">
                    

                    @Html.ActionLink(" Book Now!", "CustomerIndex", "Tables", new { id = restaurant.RestaurantId }, new { @class = "btn btn-danger col-12 fab fa-pinterest-p" })
                    @Html.ActionLink(" Menu", "CustomerIndex", "Products", new { id = restaurant.RestaurantId }, new { @class = "btn btn-primary col-6 fas fa-book-open" })

                    <button id="@restaurant.RestaurantId" data-company="@restaurant.CompanyName" class="btn btn-secondary col-6 restaurant-chat fas fa-comments"> Chat</button>
                </div>
            </div>
        </div>
    }
    <footer class="container-fluid text-right">
        <a href="#myPage" title="To Bottom">
            <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </footer>
</div>

@section scripts {

    <script>
        $(document).ready(() => {
            let hub = $.connection.piniTHub;
            const categoryDropdown = document.getElementById('restType');
            const searchForm = document.getElementById('search-form');
            categoryDropdown.oninput = (e) => {
                searchForm.submit();
            };
            $('.restaurant-chat').click((e) => {
                
                $(`#chat`).html('');
                $('#chat').removeClass('d-none');
                $('#chat').append(`<div class="row">
                                        <div class="card shadow-lg border border-dark p-0 fixed-bottom alert alert-dismissible fade show ml-auto" role="alert" style="width:280px;">
                                            <div class="card-header border-dark font-weight-bolder bg-dark text-white text-center">
                                                <div class="row">
                                                    <p class="col-10 mb-0 mr-auto ml-2">${e.target.getAttribute('data-company')}</p>
                                                    <button type="button" id="closeme" class="close col-2 ml-auto mr-1" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body bg-light border-dark">
                                                <div id="messages" class="overflow-auto" style="height:120px"></div>
                                                    <br/>
                                                <input id="message" class="form-control border border-dark" placeholder="Enter a message">
                                                <button id="send" class="btn btn-dark mt-1 mx-auto" type="button" aria-expanded="false">
                                                    Send a Chat Request
                                                </button>
                                            </div>
                                        </div>
                                    </div>`);

                $.connection.hub.start().done(() => {

                    $('#send').click(() => {
                        hub.server.sendToUser(e.target.id, $('#message').val());
                        $('#messages').append(`<p>Me: ${$('#message').val()}</p>`)
                        $("#messages").scrollTop($("#messages")[0].scrollHeight);
                        $('#message').val('').focus();
                        $('#closeme').click();
                    });
                });
                hub.client.gotMessage = (from, message) => {
                    console.log(message);
                $('#messages').append(`<p>Manager: ${message}</p>`);
                };

            });


        });

    </script>

    <script>
        window.onload = () => {

            if ("@TempData["Message"]")
            {
                alert("@TempData["Message"]");
                TempData["Message"] = '';
            }
        };
    </script>
}



