@model IEnumerable<PiniT.Models.Table>

@{
    ViewBag.Title = "CustomerIndex";
}

<h2 class="a mb-3 mt-3">Choose a Table</h2>

<table class="table col-6 mx-auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.ActionLink("PinIT!", "Create", "Reservations", new { id = item.TableId }, new { @class = "btn btn-dark" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "CustomerIndex", "Restaurants", null, new { @class = "btn btn-info col-2" })
</div>


@section scripts {
    <script>
        window.onload = () => {

            if ("@TempData["Message"]")
            {
                alert("@TempData["Message"]");
            }
        };
    </script>

}
