@model IEnumerable<PiniT.Models.Table>

@{
    ViewBag.Title = "Index";
}

<div class="card bg-white col-md-6 mx-auto">
    <h2 class="text-center mx-auto">Table Layout</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @if (item.IsBooked)
                    {
                        <button id="@item.TableId" class="btn book-button"><i class="fas fa-check"></i></button>
                    }
                    else
                    {
                        <button id="@item.TableId" class="btn book-button"><i class="fas fa-times"></i></button>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TableId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TableId })
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {

    <script>
        window.onload = () => {

            $('.book-button').on('click', (e) => {

                fetch(`/Tables/ToggleBooked/${e.currentTarget.id}`, { method: 'POST' })
                    .then((response) => response.json())
                    .then(json => {
                        console.log(json);
                        if (json) {
                            e.currentTarget.firstChild.classList.toggle('fa-times');
                            e.currentTarget.firstChild.classList.toggle('fa-check');
                        }
                    });
            });
        };
    </script>
}
