@model PiniT.ViewModels.IndexProductsVM

@{
    // ViewBag.Title = "Index";
}

<div class="row mt-3 mb-1">
    <div class="col-md-9 mx-auto">
        <h2 class="a">@ViewBag.Title</h2>
    </div>
</div>
<div class="row mt-3 mb-1">
    <div class="col-md-6 p-3 border rounded bg-light mx-auto">
        @using (Html.BeginForm("CustomerIndex", "Products", FormMethod.Get, new { id = "search-form" }))
        {
            <div id="filters" class="row">
                <div class="col-6 px-1">
                    @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by product name" } })
                </div>
                <div class="col-4 px-1">
                    @Html.DropDownListFor(x => x.Category, (SelectList)ViewBag.Categories, "Category", new { @class = "form-control", id = "category" })
                </div>
              
                <div class="col-2 px-1">
                    <button id="search" type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="customer-menu">
    <div class="row">
        @foreach (var category in Model.Categories.Reverse())
        {

            <div class="col-sm-2"></div>
            <div class=" col-sm-8 rounded shadow-lg mx-auto mt-3 mb-1 text-center">
                <h3 class="a">@category.Name</h3>
                @foreach (var product in Model.Products)
                {
                    if (product.CategoryId == category.Name)
                    {
                        <p class="font-weight-bold font-italic">@product.Name - <cite class="font-weight-light">$@product.Price</cite><br />
                        <cite class="font-weight-lighter font-italic">@product.Description</cite></p>
                        <hr />
                    }
                }
            </div>
            <div class="col-sm-2"></div>

        }
    </div>
</div>

<div>
    <div id="a">
        @Html.ActionLink("Back to List", "CustomerIndex", "Restaurants", null, new { @class = "btn btn-info col-2 ml-3" })
    </div>
</div>


@section scripts{
    <script>
        window.onload = () => {
            const categoryDropdown = document.getElementById('category');
            const searchForm = document.getElementById('search-form');
            let searchButton = document.getElementById('search');

            categoryDropdown.oninput = (e) => {
                searchForm.submit();
            };
        };
    </script>
}