@model PiniT.ViewModels.IndexProductsVM

@{
    // ViewBag.Title = "Index";
}

<style>
    body {
        background-image: url("/Content/Images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="row mt-3 mb-1">
    <div class="col-md-6 mx-auto">
        <h2 class="a text-white text-center mx-auto font-weight-bold">@ViewBag.Title</h2>
    </div>
</div>
<div class="row mt-3 mb-1">
    <div class="col-md-6 p-3 rounded mx-auto text-center">
        @using (Html.BeginForm("CustomerIndex", "Products", FormMethod.Get, new { id = "search-form" }))
        {
            <div id="filters" class="row">
                <div class="col-6 px-1">
                    @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by product name" } })
                </div>
                <div class="col-4 px-1">
                    @Html.DropDownListFor(x => x.Category, (SelectList)ViewBag.Categories, "Category", new { @class = "form-control", id = "category" })
                </div>

                <div class="col-2 px-1">
                    <button id="search" type="submit" class="btn btn-danger btn-block">Search</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="customer-menu">
    <div class="row">
        @foreach (var category in Model.Categories.Reverse())
        {

            <div class="col-sm-2"></div>
            <div class="col-sm-8 rounded shadow-lg mx-auto mt-3 mb-1 text-center container">
                <h3 class="bg-dark text-white mb-0 p-2">@category.Name</h3>
                
                @foreach (var product in Model.Products)
                {
            <div id="card-back">
                @if (product.CategoryId == category.Name)
                {
                    <br />
                    <p class="h5 font-weight-bold font-italic text-white mb-0">
                        @product.Name - <cite class="font-weight-light">$@product.Price</cite><br />
                        <cite class="font-weight-lighter font-italic">@product.Description</cite>
                    </p>
                    <br />
                    <hr class="m-0" />
                }
            </div>
                }
            </div>
            <div class="col-sm-2"></div>

        }
    </div>
</div>

<div>
    <div class="form-group text-center mx-auto">
        @Html.ActionLink("Back", "CustomerIndex", "Restaurants", null, new { @class = "btn btn-dark" })
    </div>
</div>


@section scripts{
    <script>
        window.onload = () => {
            const categoryDropdown = document.getElementById('category');
            const searchForm = document.getElementById('search-form');
            let searchButton = document.getElementById('search');

            categoryDropdown.oninput = (e) => {
                searchForm.submit();
            };
        };
    </script>
}