@model PiniT.ViewModels.IndexProductsVM

@{
    ViewBag.Title = "Index";
}
    <div class="row">
    
        <h2 class="cold-md-6 text-center mx-auto">Your Products</h2>

        <p>
           @Html.ActionLink("Create New", "Create",null, new { @class = "nav-link btn btn-dark text-left far fa-plus-square" })
        </p>
    </div>

    <div class="row">
    <div class="col-md-6 mt-auto p-3 border rounded bg-light mx-auto mt-2">
        @using (Html.BeginForm("ManagerIndex", "Products", FormMethod.Get, new { id = "search-form" }))
        {
            <div id="filters" class="row">
                <div class="col-6 px-1">
                    @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by product name" } })
                </div>
                <div class="col-4 px-1">
                    @Html.DropDownListFor(x => x.Category, (SelectList)ViewBag.Categories, "Category", new { @class = "form-control", id = "category" })
                </div>
                <div class="col-2 px-1">
                    <button id="search" type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="customer-menu">
    <div class="row">
        @foreach (var category in Model.Categories.Reverse())
        {
            if (Model.Products.Any(x => x.CategoryId == category.Name))
            {
                <div class="col-sm-2"></div>
                <div class=" col-sm-8 rounded shadow-lg mx-auto mt-3 mb-1 text-center">
                    <h3 class="font-italic border-bottom mt-1">@category.Name</h3>
                    @foreach (var product in Model.Products)
                    {
                        if (product.CategoryId == category.Name)
                        {
                            <p class="h5">@product.Name - @product.Price</p>
                            <p class="font-weight-lighter mb-1">@product.Description</p>
                            @Html.ActionLink(" ", "Edit", new { id = product.ProductId }, new { @class = "m-1 btn btn-dark fas fa-pencil-alt" })

                           
                            @Html.ActionLink(" ", "Delete", new { id = product.ProductId }, new { @class = "m-1 btn btn-danger fas fa-trash" })
                            <hr/>
                        }
                    }
                </div>
                <div class="col-sm-2"></div>
            }
        }
    </div>
</div>


@section scripts{
    <script>
        window.onload = () => {
            const categoryDropdown = document.getElementById('category');
            const searchForm = document.getElementById('search-form');
            let searchButton = document.getElementById('search');

            categoryDropdown.oninput = (e) => {
                searchForm.submit();
            };
        };
    </script>
}
